<!DOCTYPE html>
<html>
  <head>
    <title>About Openly</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      <a href="http://www.openly.com"><em>Openly</em></a> is being developed in part based on the need for mental health maintenance and therapy, in the context of our increasingly mobile and independent world. 
      <br>
      <hr>
      <a href="http://">Here's a link.</a>
      <br>
      <br>
      <a href="http://">and another.</a>
      <br>
      <br>
      to assist you in your journey.
      <br>
      <hr>
      For those who would like to review and contribute, here is the 
      <br>
      <br>

      <a href="http://github.com/">Openly source code</a>.
      <br>
      <br>

      This is the repository for this application.
    </p>
  </body>
</html>