<!DOCTYPE html>
<html>
  <head>
    <title>Help | Openly</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      If you need help navigating Openly, here is our 
      <a href="http://">Help and FAQ</a>.
      <br>
      <br>
      If you are experiencing a crisis, please do not delay in seeking help 
      <a href="http://"><em>here</em></a>.
    </p>
  </body>
</html>