<h1>Editing Counselor</h1>

<h5> Please be aware that if you submit edits to this form,
your profile will be re-submitted for verification, and your ability to continue talking with Clients will be discontinued and re-assigned to another Counselor, until your edited profile is approved.
</h5>

<%= render 'form', counselor: @counselor %>

<%# need to make this look like the edit.html.erb view for User %>

<%= link_to 'Save', @counselor, id: "showbtn" %> |
<%= link_to 'Back', '#', id: "backbtn" %>
