<h1>Editing Counselor</h1>

<%= render 'form', counselor: @counselor %>

<%# need to make this look like the edit.html.erb view for User %>

<%= link_to 'Save', @counselor, id: "showbtn" %> |
<%= link_to 'Cancel', '#', id: "backbtn" %>
