<h1>Editing Client Profile</h1>

<%= render 'form', client: @client %>

<%# need to make this look like the edit.html.erb view for User %>

<%= link_to 'Save', @client, id:"showbtn" %> |
<%= link_to 'Cancel', '#', id: "backbtn" %>
