<%# FOOTER Contents %>
<footer class="footer">
  <small>
    <a href="http://www.adamdwwhite.com/"> &copy Adam D. White </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Openly",   '#' %></li>
      <li><%= link_to "Contact Us", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>