<%# FOOTER Contents %>
<footer class="footer">
  <small>
    <a href="http://www.adamdwwhite.com/"> &copy Adam D. White </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Openly",  about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><a href="">News</a></li>
    </ul>
  </nav>
</footer>